# Titanic survival data prediction

importing all dependancies and libraries

In [1]:
import numpy as np
import pandas as pd
import tensorflow as tf
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

from sklearn.preprocessing import StandardScaler

loading tested file for training model

In [2]:
data = pd.read_csv('tested.csv')  # Replace with your dataset file path

In [3]:
data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
413,1305,0,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,0,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,0,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,0,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

preprocessing and cleaning of data for training model

In [4]:
data['Age'].fillna(data['Age'].median(), inplace=True)
data['Embarked'].fillna(data['Embarked'].mode()[0], inplace=True)
data = pd.get_dummies(data, columns=['Sex', 'Embarked'])
data.drop(['Fare'] , axis=1 , inplace=True)
data.drop(['PassengerId', 'Name', 'Ticket', 'Cabin'], axis=1, inplace=True)
X = data.drop('Survived', axis=1)
y = data['Survived']

spliting testing and training data for training and predicting our model

In [5]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

scaling and normalizing data for more accurate model

In [6]:
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)
X_train_scaled

array([[-0.31938196,  0.19632439, -0.49831227, ..., -0.57043565,
        -0.35829929,  0.74883086],
       [-0.31938196, -0.41817392,  1.62189534, ..., -0.57043565,
        -0.35829929,  0.74883086],
       [-0.31938196, -0.18773705, -0.49831227, ..., -0.57043565,
         2.79096286, -1.33541504],
       ...,
       [-1.5046439 ,  1.27169645, -0.49831227, ...,  1.75304613,
        -0.35829929, -1.33541504],
       [-0.31938196, -0.41817392, -0.49831227, ..., -0.57043565,
        -0.35829929,  0.74883086],
       [ 0.86587998, -0.18773705, -0.49831227, ..., -0.57043565,
         2.79096286, -1.33541504]])

building our sequential model

In [7]:
model = tf.keras.models.Sequential([
    tf.keras.layers.Dense(128, activation='relu', input_shape=(X_train_scaled.shape[1],)),
    tf.keras.layers.Dropout(0.2),
    tf.keras.layers.Dense(64, activation='relu'),
    tf.keras.layers.Dense(1, activation='sigmoid')
])

In [8]:
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [9]:
history = model.fit(X_train_scaled, y_train, epochs=50, batch_size=32, validation_split=0.2)

Epoch 1/50
9/9 [==============================] - 1s 28ms/step - loss: 0.6680 - accuracy: 0.5880 - val_loss: 0.5435 - val_accuracy: 0.9552
Epoch 2/50
9/9 [==============================] - 0s 6ms/step - loss: 0.4736 - accuracy: 0.9700 - val_loss: 0.3727 - val_accuracy: 1.0000
Epoch 3/50
9/9 [==============================] - 0s 6ms/step - loss: 0.3101 - accuracy: 0.9963 - val_loss: 0.2269 - val_accuracy: 1.0000
Epoch 4/50
9/9 [==============================] - 0s 6ms/step - loss: 0.1795 - accuracy: 1.0000 - val_loss: 0.1198 - val_accuracy: 1.0000
Epoch 5/50
9/9 [==============================] - 0s 5ms/step - loss: 0.0980 - accuracy: 1.0000 - val_loss: 0.0599 - val_accuracy: 1.0000
Epoch 6/50
9/9 [==============================] - 0s 6ms/step - loss: 0.0500 - accuracy: 1.0000 - val_loss: 0.0314 - val_accuracy: 1.0000
Epoch 7/50
9/9 [==============================] - 0s 7ms/step - loss: 0.0294 - accuracy: 1.0000 - val_loss: 0.0181 - val_accuracy: 1.0000
Epoch 8/50
9/9 [==============================] - 0s 12ms/step - loss: 0.0175 - accuracy: 1.0000 - val_loss: 0.0118 - val_accuracy: 1.0000
Epoch 9/50
9/9 [==============================] - 0s 11ms/step - loss: 0.0117 - accuracy: 1.0000 - val_loss: 0.0085 - val_accuracy: 1.0000
Epoch 10/50
9/9 [==============================] - 0s 12ms/step - loss: 0.0095 - accuracy: 1.0000 - val_loss: 0.0065 - val_accuracy: 1.0000
Epoch 11/50
9/9 [==============================] - 0s 12ms/step - loss: 0.0075 - accuracy: 1.0000 - val_loss: 0.0051 - val_accuracy: 1.0000
Epoch 12/50
9/9 [==============================] - 0s 13ms/step - loss: 0.0053 - accuracy: 1.0000 - val_loss: 0.0042 - val_accuracy: 1.0000
Epoch 13/50
9/9 [==============================] - 0s 11ms/step - loss: 0.0046 - accuracy: 1.0000 - val_loss: 0.0035 - val_accuracy: 1.0000
Epoch 14/50
9/9 [==============================] - 0s 11ms/step - loss: 0.0037 - accuracy: 1.0000 - val_loss: 0.0030 - val_accuracy: 1.0000
Epoch 15/50
9/9 [==============================] - 0s 12ms/step - loss: 0.0034 - accuracy: 1.0000 - val_loss: 0.0026 - val_accuracy: 1.0000
Epoch 16/50
9/9 [==============================] - 0s 11ms/step - loss: 0.0031 - accuracy: 1.0000 - val_loss: 0.0023 - val_accuracy: 1.0000
Epoch 17/50
9/9 [==============================] - 0s 11ms/step - loss: 0.0027 - accuracy: 1.0000 - val_loss: 0.0020 - val_accuracy: 1.0000
Epoch 18/50
9/9 [==============================] - 0s 11ms/step - loss: 0.0021 - accuracy: 1.0000 - val_loss: 0.0018 - val_accuracy: 1.0000
Epoch 19/50
9/9 [==============================] - 0s 12ms/step - loss: 0.0020 - accuracy: 1.0000 - val_loss: 0.0016 - val_accuracy: 1.0000
Epoch 20/50
9/9 [==============================] - 0s 11ms/step - loss: 0.0019 - accuracy: 1.0000 - val_loss: 0.0014 - val_accuracy: 1.0000
Epoch 21/50
9/9 [==============================] - 0s 11ms/step - loss: 0.0018 - accuracy: 1.0000 - val_loss: 0.0013 - val_accuracy: 1.0000
Epoch 22/50
9/9 [==============================] - 0s 11ms/step - loss: 0.0015 - accuracy: 1.0000 - val_loss: 0.0012 - val_accuracy: 1.0000
Epoch 23/50
9/9 [==============================] - 0s 11ms/step - loss: 0.0013 - accuracy: 1.0000 - val_loss: 0.0011 - val_accuracy: 1.0000
Epoch 24/50
9/9 [==============================] - 0s 11ms/step - loss: 0.0014 - accuracy: 1.0000 - val_loss: 0.0010 - val_accuracy: 1.0000
Epoch 25/50
9/9 [==============================] - 0s 10ms/step - loss: 0.0018 - accuracy: 1.0000 - val_loss: 9.0072e-04 - val_accuracy: 1.0000
Epoch 26/50
9/9 [==============================] - 0s 11ms/step - loss: 0.0011 - accuracy: 1.0000 - val_loss: 8.1057e-04 - val_accuracy: 1.0000
Epoch 27/50
9/9 [==============================] - 0s 11ms/step - loss: 9.3616e-04 - accuracy: 1.0000 - val_loss: 7.4720e-04 - val_accuracy: 1.0000
Epoch 28/50
9/9 [==============================] - 0s 11ms/step - loss: 0.0010 - accuracy: 1.0000 - val_loss: 6.9318e-04 - val_accuracy: 1.0000
Epoch 29/50
9/9 [==============================] - 0s 11ms/step - loss: 8.9799e-04 - accuracy: 1.0000 - val_loss: 6.4482e-04 - val_accuracy: 1.0000
Epoch 30/50
9/9 [==============================] - 0s 11ms/step - loss: 8.7333e-04 - accuracy: 1.0000 - val_loss: 6.0132e-04 - val_accuracy: 1.0000
Epoch 31/50
9/9 [==============================] - 0s 13ms/step - loss: 8.5918e-04 - accuracy: 1.0000 - val_loss: 5.6049e-04 - val_accuracy: 1.0000
Epoch 32/50
9/9 [==============================] - 0s 11ms/step - loss: 7.5159e-04 - accuracy: 1.0000 - val_loss: 5.2443e-04 - val_accuracy: 1.0000
Epoch 33/50
9/9 [==============================] - 0s 11ms/step - loss: 6.5508e-04 - accuracy: 1.0000 - val_loss: 4.9374e-04 - val_accuracy: 1.0000
Epoch 34/50
9/9 [==============================] - 0s 11ms/step - loss: 5.4220e-04 - accuracy: 1.0000 - val_loss: 4.6628e-04 - val_accuracy: 1.0000
Epoch 35/50
9/9 [==============================] - 0s 13ms/step - loss: 5.8878e-04 - accuracy: 1.0000 - val_loss: 4.4081e-04 - val_accuracy: 1.0000
Epoch 36/50
9/9 [==============================] - 0s 11ms/step - loss: 6.9746e-04 - accuracy: 1.0000 - val_loss: 4.1412e-04 - val_accuracy: 1.0000
Epoch 37/50
9/9 [==============================] - 0s 13ms/step - loss: 4.7476e-04 - accuracy: 1.0000 - val_loss: 3.8285e-04 - val_accuracy: 1.0000
Epoch 38/50
9/9 [==============================] - 0s 12ms/step - loss: 4.7639e-04 - accuracy: 1.0000 - val_loss: 3.6089e-04 - val_accuracy: 1.0000
Epoch 39/50
9/9 [==============================] - 0s 12ms/step - loss: 5.1132e-04 - accuracy: 1.0000 - val_loss: 3.3956e-04 - val_accuracy: 1.0000
Epoch 40/50
9/9 [==============================] - 0s 11ms/step - loss: 3.9722e-04 - accuracy: 1.0000 - val_loss: 3.2092e-04 - val_accuracy: 1.0000
Epoch 41/50
9/9 [==============================] - 0s 11ms/step - loss: 4.1438e-04 - accuracy: 1.0000 - val_loss: 3.0458e-04 - val_accuracy: 1.0000
Epoch 42/50
9/9 [==============================] - 0s 11ms/step - loss: 4.0448e-04 - accuracy: 1.0000 - val_loss: 2.8867e-04 - val_accuracy: 1.0000
Epoch 43/50
9/9 [==============================] - 0s 10ms/step - loss: 4.2613e-04 - accuracy: 1.0000 - val_loss: 2.7351e-04 - val_accuracy: 1.0000
Epoch 44/50
9/9 [==============================] - 0s 12ms/step - loss: 3.7039e-04 - accuracy: 1.0000 - val_loss: 2.5920e-04 - val_accuracy: 1.0000
Epoch 45/50
9/9 [==============================] - 0s 10ms/step - loss: 3.4956e-04 - accuracy: 1.0000 - val_loss: 2.4606e-04 - val_accuracy: 1.0000
Epoch 46/50
9/9 [==============================] - 0s 11ms/step - loss: 4.7275e-04 - accuracy: 1.0000 - val_loss: 2.3312e-04 - val_accuracy: 1.0000
Epoch 47/50
9/9 [==============================] - 0s 11ms/step - loss: 3.0049e-04 - accuracy: 1.0000 - val_loss: 2.2130e-04 - val_accuracy: 1.0000
Epoch 48/50
9/9 [==============================] - 0s 10ms/step - loss: 3.0971e-04 - accuracy: 1.0000 - val_loss: 2.1061e-04 - val_accuracy: 1.0000
Epoch 49/50
9/9 [==============================] - 0s 12ms/step - loss: 3.0748e-04 - accuracy: 1.0000 - val_loss: 2.0075e-04 - val_accuracy: 1.0000
Epoch 50/50
9/9 [==============================] - 0s 10ms/step - loss: 2.3386e-04 - accuracy: 1.0000 - val_loss: 1.9241e-04 - val_accuracy: 1.0000

finally predicting our model for unseen test dataset

In [10]:
y_pred = model.predict(X_test)

3/3 [==============================] - 0s 2ms/step

evalutating our model for accuracy and minimum loss

loss, accuracy = model.evaluate(X_test_scaled, y_test)
print(f"Test accuracy: {accuracy:.4f}")